.navbar-logo a {
  font-size: 0;
  background: url('../../assets/images/logo-fixie.svg') no-repeat;
  width: 112px;
  height: 48px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap; // whs:nw
}
.navbar .nav-link {
  @include pad {
    &:hover {
      background-color: $hover;
    }
  }
}
.navbar-light .navbar-nav .nav-link {
  color: $dark;
}
.navbar-toggler {
  padding: 0;
  border: none;
  &:focus {
    outline: none;
  }
}
// toggler-bar
.toggler-bar {
  display: block;
  position: absolute;
  width: 40px;
  height: 5px;
  background-color: $secondary;
  border-radius: 10px;
  transition: .2s;
}
.toggler-bar-top {
  top: 5px;
}
.toggler-bar-middle {
  top: 16px;
}
.toggler-bar-bottom {
  top: 27px;
}
.toggler-bar-top-rotate {
  top: 15px;
  transform: rotate(45deg);
}
.toggler-bar-bottom-rotate {
  top: 15px;
  transform: rotate(-45deg);
}