<footer class="bg-light p-0" data-aos="fade-up" data-aos-duration="200" data-aos-once="true">
  <div class="container d-flex align-items-center px-md-4">
    <ul class="nav mr-auto">
      <li class="nav-item">
        <a class="nav-link font-weight-bold px-4 py-3" href="#">Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold px-4 py-3" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold px-4 py-3" href="#">Contact</a>
      </li>
    </ul>
    <h6 class="copyright text-secondary font-size-sm mr-auto d-none d-md-block"> &copy;2020 Fixie. All Rights Reserved.</h6>
    <h5>
      <a href="#" class="m-4">
        <img src="./assets/images/logo-fixie.svg" alt="logo">
      </a>
    </h5>
  </div>
</footer>